:root {
  --color-fondo: #fffefb; /* Fondo principal */
  --color-amarillo: #f3df5e; /* Amarillo */
  --color-beish: #e5e3b0; /* Beish */
  --color-verde1: #a2c555; /* verde claro */
  --color-verde2: #5fa039; /* verde planta */
  --color-texto: #557c70; /* Texto */
}

* {
  font-family: "Kumbh Sans", sans-serif;
  font-family: "Lora", serif;
  color: var(--color-texto);
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("../imgs/fondo.png");
  background-repeat: no-repeat; /* no repite la imagen */
  background-position: 50% 0%; /* horizontal - vertical */
  background-size: cover;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 70px;
  margin-bottom: -30px;
  text-shadow: -0.5px 1px 5px var(--color-texto);
}

ul {
  display: flex;
  list-style: none;
  gap: 40px;
  padding-left: 0;
}

.li-style {
  text-shadow: -1px 1px 5px var(--color-texto);
  font-weight: 450;
  letter-spacing: 1px;
  padding: 0px;
  border: 1px solid #ffffff;
  margin: 0px;
}

textarea[name="user-input"] {
  box-shadow: 0px 2px 5px var(--color-texto);
  border-radius: 4px;
  border: var(--color-texto);
}

/* Botón de Limpiar */

#reset-button {
  margin: 10px;
  display: flex;
  border-radius: 4px;
  /* display: inline-block; */
  font-size: 1em;
  padding: 0.2em 0.5em;
  /* appearance: none; */
  background: var(--color-amarillo);
  border: 0;
  color: var(--color-verde2);
  cursor: pointer;
  position: relative;
  box-shadow: 0px 2px 5px var(--color-texto);
}

footer {
  color: var(--color-texto);
}
